@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

* {
  @apply transition-all duration-300 ease-in-out;
}

body {
  @apply bg-neutral-50/50;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* -------- Sweet Alert Error --------- */
/* Popup container */
.swal-popup {
  @apply rounded-3xl w-full max-w-sm bg-white;
}

/* Title styling */
.swal-title {
  @apply text-neutral-800 font-bold text-3xl;
}

/* Text styling */
.swal-text {
  @apply text-neutral-600;
}

/* Confirm button styling */
.swal-confirm {
  @apply px-5 py-2 rounded-full bg-orange-500 text-white cursor-pointer;
}

/* Cancel button styling */
.swal-cancel {
  @apply px-5 py-2 rounded-full bg-transparent hover:bg-neutral-50 text-neutral-700 transition duration-300 ease-in-out cursor-pointer;
}
